@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    /* padding: 0; */
    margin: 0;
    /* font-family: "Lato", sans-serif; */
    font-family: "Ubuntu", sans-serif;
    /* background: #2c2c2c; */
    background: linear-gradient(to top, #ee5c30, #ff8800, #00AAFF,#161616 95%);
    /* color: #161616; */
    color: rgba(0, 0, 0, 0.75);
    /* width: 70vw; */
    /* max-width: 600px; */
}

.navbar {
    margin: 0px;
    padding: 10px;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    align-items: center;
    color:rgb(255, 255, 255, 1);
    background: rgb(22, 22, 22, .9);
    z-index: 1;
}

.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.header {
    color:rgb(255, 255, 255, 1);
}

.cities {
    background: rgb(22, 22, 22, .9);
}

.container {
    padding: 0;
    margin: 1vw;
    display: flex;
    justify-content: center;
}

.weather-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    /* min-width: 100%; */
    max-width: 1080px;
    max-height: 1080px;
    grid-template-columns: repeat(2, minmax(150px, 50vw));
    /* grid-template-columns: repeat(2, minmax(20vw, 200px)); */
    grid-template-rows: repeat(2, minmax(150px, 50vw));
    /* grid-template-rows: repeat(2, minmax(20vw, 200px)); */
    font-size: 2rem;
}

.weather-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color:rgb(255, 255, 255, .75);
    /* border: 1px solid white; */
    margin: 2px;
    text-align: center;
    /* font-size: 100%; */
}

.centered-text {
    font-size: 200%;
}

.icon {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.weather-bottom {
    position: absolute;
    bottom: 10%;
    font-size: 90%;
}

.wind-top {
    position: absolute;
    top: 10%;
    font-size: 75%;
}

.wind-bottom {
    position: absolute;
    bottom: 10%;
    font-size: 75%;
}
