@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
    /* padding: 0;
    margin: 0; */
    font-family: "Lato", sans-serif;
    /* background: #2c2c2c; */
    background: linear-gradient(to top, #00AAFF, #161616);
    color: #2c2c2c;
    /* width: 70vw; */
    /* max-width: 600px; */
}

.header {
    color:rgb(255, 255, 255, 1);
}

.weather-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    /* min-width: 100%; */
    /* grid-template-columns: repeat(2, minmax(150px, 50vw)); */
    grid-template-columns: repeat(2, minmax(20vw, 200px));
    /* grid-template-rows: repeat(2, minmax(150px, 50vw)); */
    grid-template-rows: repeat(2, minmax(20vw, 200px));
    font-size: 2rem;
}

.weather-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color:rgb(255, 255, 255, .75);
    /* border: 1px solid white; */
    margin: 2px;
    text-align: center;
    font-size: 100%;
    /* word-wrap: break-word; */
    /* word-break: break-all; */
}

.centered-text {
    font-size: 200%;
}

.icon {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.weather-bottom {
    position: absolute;
    bottom: 10%;
    font-size: 90%;
}

.wind-top {
    position: absolute;
    top: 10%;
    font-size: 75%;
}

.wind-bottom {
    position: absolute;
    bottom: 10%;
    font-size: 75%;
}
